body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3px;
  max-width: 960px;
  margin: 0, auto;
  background-color: tomato;
}

#indexbody {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0, auto;
}

#title {
  background-color: #1eaafc;
  background-image: linear-gradient(160deg, #6c52d9 0%, #9b8ae6 127%);
}

img {
  max-width: 20vw;
  margin-bottom: 15px;
  border-radius: 1em;
}
